/* .list{
    
    overflow-x: scroll;
    display: flex;
}
.list >*{
    box-sizing: border-box;
    min-width: 20vw;
    margin: 0 4px;
    border-radius: 8px;
    border:2px solid #000
} */

.rotating{
    animation : rotating 1s linear infinite ;
}
@keyframes rotating {
    from {transform: rotate(-360deg);}
    to   { transform:rotate(360deg); }
}